*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat;
    scroll-behavior:smooth;

}
html,body{
    height: 100%;
 }
#main{
    position:relative;
    overflow: hidden;
}
#page{
    display: flex;
    height: 100vb;
    width: 100fr;
    background-color: #fff;
    position: relative;
}
#page>img{
    position: absolute;
    width: 35%;
    right: 5%;
    top: 55%;
    transform: translateY(-52%);
    height: 70%;
    
}

#page>#nav{
    display: flex;
    align-items: center;
    padding: 0px 30px;
    justify-content: space-between;
    position: absolute;
    z-index:9;
    height: 10%;
    width: 100%;
    background-color: #fff;
}
#center-nav{
    display: flex;
    gap: 20px;
}
#page>#nav>img{
    height: 100%;
    width: 7%;
}
#center-nav>a{
    text-decoration: none;
    color: #000;;
    font-weight: 500;
    font-size: 18px;
}
#nav>input{
    padding: 10px 5px;
    border-radius: 10px;  
    border: 1px solid #dadada;
    text-transform: uppercase;
}
#text{
    padding: 30px 50px;
    position: relative;
    top:18%;
    left:8%;
    height: 75%;
    width: 35%;
    scale:1.1;
}
#text>h1{
    font-size: 60px;
    line-height: 1;
    margin:20px;
}
#text>h4{
    margin-top: 30px;
    color: rgb(42, 40, 40);
    font-size: 17px;
    font-weight: 500;

}
#text>h5{
    color: #8873EF;
    transform: rotate(-30deg);
    position: absolute;
    left:3%;
    padding-left: 15px;
}
#button{
    position: absolute;
    left:10%;
    bottom: 18%;
    height: 20%;
    width: 100%;
}
#button>button{
    padding: 10px 22px;
    border-radius: 10px;
    border:none;
    font-weight: 500;
    cursor: pointer;
    transition: opacity 0.15s;
}
#button>#b2:hover{
    opacity: 0.7;
    background-color: #FCDA69;
}
#button>button:active{
    opacity: 0.5;
}
#button>#b2:active{
    opacity: 0.5;
}
#button>#b1{
    background-color: #8873EF;
}
#page1{
    height: 100vh;
    width: 100vw; 
    position: relative;
    background-color: #FCDA69;
}
#page1>#left{
    position: absolute;
    right: 5%;
    height: 90%;
    width: 35%;
    top:50%;
    transform: translateY(-50%);
}
#left>.box{
    height: 33.3%;
    width: 100%;
    border-top: 2px solid #000;
}
.circle{
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8873EF;
    border-radius: 50%;
}
.circle>i{
    color: #fff;
    font-size: 25px;
}
#text1{
    margin: 50px 50px;
    height: 30%;
    width: 50%;
    position: absolute;
    z-index:9;
}
#text1>h1{
    font-size: 70px;
    margin-top: 20px;
}
#text1>h4{
    font-size: 17px;
    color:#2b2b2b;
    font-weight: 500;
    width: 70%;
    margin-top: 20px;
}
#text1>h5{
    color: #8873ef;
    transform: rotate(-20deg);
    position: absolute;
    left:-2%;
}
#page2{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    transition: all ease 2s;

}
#page2>#project{
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:5%;
}
#page2>#image:hover{
    scale: 1.2;
}
.projects{
    border-top: 2px solid black;
    height: 100%;
    width: 31%;
}
#text3{
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    display: flex;
    height: 30%;
    width: 100%;
}
#image{
   height: 70%;
   width: 100%;
   background-size: cover;
   background-position: inherit;
   transition: transform 0.3s ease-in-out;
}
#image>img{
    cursor: pointer;
}
img{
    border-radius: 10px;

}
#image>img:hover{
    transform: scale(1.1);
}
.img{
    height: 100%;
    width: 100%;
}
.p2{
    position: relative;
    top: -20%
}
.p3{
    position: relative;
    top: -50%
}
#text4{
    position: absolute;
    top:10%;
    left:5%;
    height: 20%;
    width: 30%;
}
#text4>h1{
    margin-top: 20px;
    font-size: 50px;
}
#text4>h5{
    color: #8873EF;
    transform: rotate(-20deg);
    position: absolute;
    top:0%;
    left: 0%;
}
#page3{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
    padding: 0px 60px;
    width: 100vw;
    position: relative;
    background-color: #FCDA69;
}
#left1{
    height: 70%;
    width: 35%;
}
#right1{
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    border: 2px solid #000;
}
.line{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 10%;
    width: 100%;
}
.l1{
    position: absolute;
    z-index: 99;
}
.l1>h1{
    font-size: 100px;
}
.l2{
    width: 65%;
    top:47%;
    border-bottom: 2px solid #000;
    position: absolute;
    transform: rotate(15deg);
    transform-origin: left;
}
.c1{
    height: 12vw;
    width: 12vw;
}
#text5{
    height: 30%;
    width: 100%;
}
#text5>h1{
    padding-top: 20px;
    font-size: 60px;
    position: relative;
}
#text5>h5{
    color: #8873EF;
    transform: rotate(-20deg);
    position: absolute;
    top:13%;
    left: 8%;

} 
.info{
    margin-top: 50px;
    height: 50%;
    width: 100%;
}
#infos{
    display: flex;
    align-items: center;

    height: 50%;
    width: 100%;
    gap:20px;
    padding-left: 20px;
    border-top: 2px solid black;
}
@media(max-width:490px) {
    #page{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    #page #text{
        width: 100%;
        height: 80%;
    }
    #nav>img{
        opacity: 0;
    }
    #page #op{
        opacity: 0;
    }
    #nav{
        right: 25px;
    }
    input{
        opacity: 0;
    }
    #page1 #text1{
        width: 100%;
        height: 30%;
        text-align: center;
    }
    #text1 h1{
        font-size: 25px;
    }
    #left{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        margin-top: 200px;
        margin-right: 200px;
    }
    #project{
        display: flex;
        flex-direction: column;
        gap: 200px;
        text-align:justify;
        background-color: lightyellow;
        border-radius:30% ;

    }
    #project div img{
        opacity: 1;
    }
    #project div:last-child{
        display: none;
    }
    #page3 #right1{
        opacity: 0;
    }
    #left1{
        width: 100%;
    }
    #left1 h1{
        scale: 0.8;
        bottom: 30px;
    }
    .projects{
    border-top: none;
    height: 100%;
    width: 31%;
}
    #left div h1{
        font-size: 20px;
    }
    #right{
        display: flex;
        
    }
}